.arrow_pos {
  .swiper-button-prev {
    // display: inline-block !important;
    float: left;
    margin: 20px 10px 0 0 !important;
  }
  .swiper-button-next {
    margin: 20px 10px 0 0 !important;
  }
}
