.alert{
  background: #ddffdd;
  color: #000;
  position: fixed;
  width: 0;
  top: 100px;
  height: 88px;
  right: -50px;
  transition: width .401s;
  z-index: 1;
  border-radius: 3px;
  padding: 20px 10px;
  border: 1px solid #ccc!important;
  h2{
    font-size: 22px;
  }
  p{
    color: black;
    margin: 10px 0;
  }
  &.open{
    width: 600px;
    transition: width 1s;
    right: 0;
  }
  .left{
    float: left;
  }
  svg{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 16px;
    width: 26px;
    height: 26px;
    float: right;
  }
}

.lightBoxOverlay{
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.5);
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 999;
  .cancelBox{
    position: absolute;
    right: 20px;
    top: 20px;
    height: 40px;
    width: 40px;
    background: rgba(255,255,255,0.7);
    border-radius: 50%;
    cursor: pointer;
    svg{
      width: 100%;
      height: 100%;
    }
  }
  .lightBoxInner{
    width: 100%;
    height: 100%;
    padding: 60px;
    border-radius:10px ;
    box-sizing: border-box;
    display: flex;
/*    align-items: center;
    justify-content: center;*/
    .swiper{
      border-radius: 10px;
      .swiper-slide{
        img{
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

.popup{
  &.active{
    opacity: 1;
    visibility: visible;
    pointer-events: unset;
    top: 99%;
  }
}
.inputPhoto{
  height: 100%;
  width: 100%;
  z-index: 99;
  position: absolute;
  opacity: 0;
}
.profileIconWrap{
  position: relative;
  .profileIcon{
    &.icon-calendar{
      position: absolute;
      bottom: 16px;
      right: 14px;
      z-index: 1;
      pointer-events: none;
    }
  }
}

.react-datepicker__tab-loop{
  z-index: 99;
}

.feedback__banner--graphic{
  svg{
/*    width: 576px;
    height: 299px;*/
  }
}

.AlertWrapper{
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.6);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  .alertInner{
    width: 600px;
    border-radius: 12px;
    background: #fff;
    padding: 30px;
    max-width: 90%;
    height: auto;
    h1{
      font-size: 36px;
      line-height: 44px;
      letter-spacing: 1.19px;
      color: #222;
      margin-bottom: 10px;
    }
    p{
      font-size: 24px;
      letter-spacing: 0.79px;
      color: #222;
      margin-bottom: 20px;
      display: inline-block;
      width: 100%;
      margin-top: 10px;
      line-height: 36px;
    }
    select{
      padding: 10px;
      border-radius: 5px;
      min-width: 150px;
      font-size: 18px;
    }
    .btnGroup{
      display: flex;
      align-items: center;
      margin-top: 50px;
      .btn{
        width: 150px;
        height: 48px;
        background: #222;
        color: #fff;
        font-size: 18px;
        //margin-right: 10px;
        &.default{
          background: transparent;
          color: #222;
          border-color: transparent;
          text-decoration: underline;
        }
      }
    }
  }
}


@media(max-width: 767px){
  .lightBoxOverlay{
    .cancelBox{
      right: 10px;
      top: 10px;
      height: 25px;
      width: 25px;
      z-index: 9;
    }
    .lightBoxInner{
      padding: 10px;
    }
  }
}
